<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <style>
        table {
            font-size: 24px;
        }
      </style>

    </head>

    <body>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div id="container"></div>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/react-with-addons.min.js"></script>
        <script src="/static/js/react-dom.min.js"></script>
        <script src="/static/js/site.js"></script>

        <script>
          var next_refresh = moment().add({{ time_left }}, 'seconds');

          $(function(){
              setInterval(function(){
                  var secondsLeft = next_refresh.diff(moment(), 'seconds');

                  if (secondsLeft <= 0) {
                      location.reload();
                  }

                  var percent = Math.floor((secondsLeft / 60) * 100);
                  var width = percent.toString() + '%';
                  $('.progress-bar').width(width);
              }, 1000);
          });
        </script>

    </body>
</html>
