<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <style>
        table {
            font-size: 24px;
        }
      </style>

    </head>

    <body>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div class="col-xs-4">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Player</th>
                      <th>Elo</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for player in table_a %}
                  <tr class="{% if player.diff > 0 %}success{% elif player.diff < 0 %}danger{% endif %}">
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ player.name }}</td>
                      <td>{{ player.elo }}</td>
                      <td>
                        {% if player.diff > 0 %}
                        <button type="button" class="btn btn-success">+{{player.diff}}</button>
                        {% elif player.diff < 0 %}
                        <button type="button" class="btn btn-danger">-{{player.diff}}</button>
                        {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>

        <div class="col-xs-4">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Player</th>
                      <th>Elo</th>
                  </tr>
              </thead>
              <tbody>
                  {% for player in table_b %}
                  <tr class="{% if player.diff > 0 %}success{% elif player.diff < 0 %}danger{% endif %}">
                      <th scope="row">{{ loop.index + num_rows }}</th>
                      <td>{{ player.name }}</td>
                      <td>{{ player.elo }}</td>
                      <td>
                        {% if player.diff > 0 %}
                        <button type="button" class="btn btn-success">+{{player.diff}}</button>
                        {% elif player.diff < 0 %}
                        <button type="button" class="btn btn-danger">-{{player.diff}}</button>
                        {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="col-xs-4">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Player</th>
                      <th>Elo</th>
                  </tr>
              </thead>
              <tbody>
                  {% for player in table_c %}
                  <tr class="{% if player.diff > 0 %}success{% elif player.diff < 0 %}danger{% endif %}">
                      <th scope="row">{{ loop.index + num_rows + num_rows }}</th>
                      <td>{{ player.name }}</td>
                      <td>{{ player.elo }}</td>
                      <td>
                        {% if player.diff > 0 %}
                        <button type="button" class="btn btn-success">+{{player.diff}}</button>
                        {% elif player.diff < 0 %}
                        <button type="button" class="btn btn-danger">-{{player.diff}}</button>
                        {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>

        <div id="container">
    <!-- This element's contents will be replaced with your component. -->
</div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/static/js/react-with-addons.min.js"></script>
        <script src="/static/js/react-dom.min.js"></script>
        <script src="/static/js/site.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

        <script>
        //   var next_refresh = moment().add({{ time_left }}, 'seconds');
          //
        //   $(function(){
        //       setInterval(function(){
        //           var secondsLeft = next_refresh.diff(moment(), 'seconds');
          //
        //           if (secondsLeft <= 0) {
        //               location.reload();
        //           }
          //
        //           var percent = Math.floor((secondsLeft / 60) * 100);
        //           var width = percent.toString() + '%';
        //           $('.progress-bar').width(width);
        //       }, 1000);
        //   });
        </script>

    </body>
</html>
